.billparentdiv {
	-webkit-box-shadow: 25px 25px 25px 25px #a6a6a6;
	box-shadow: 15px 15px 15px 15px #a6a6a6;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

.billdiv {
	/* display: flex;
	flex-direction: row; */
}
.createbilldiv {
	margin: auto;
	width: 60%;
	border: 3px solid #73ad21;

	background-color: #111;
}
.billcreate {
	/* border: 1px solid #000000; */
	width: 600px;
}
.billlist {
	overflow-y: scroll;
	overflow-y: hidden;
	height: 600px;
	/* border: 1px solid #000000; */
}
.general {
	background-color: #4caf50;
	width: 100%;
	font-size: 30px;
	color: white;
	/* font-weight: bold; */
}
.createbillh1 {
	background-color: #4caf50;
	font-family: 'Open Sans Condensed', sans-serif;
	justify-content: center;
	align-items: center;
	color: rgb(253, 253, 253);
	font-size: 70px;
}
.Download {
	background-color: #4caf50;
	color: white;
	border-radius: 5%;
	padding: 13px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	border: 1px;
}
.Download:hover {
	background-color: #3e8e41;
	color: #ffffff;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
