.registerinput {
	/* -webkit-border-radius: 15px 15px 15px 15px; */
	/* border-radius: 15px 15px 15px 15px; */
	width: 800px; /*suggest a min-width &amp; min-height*/
	/* max-height: 300px; */
	/* -webkit-box-shadow: 25px 25px 25px 25px #a6a6a6; */
	/* box-shadow: 25px 25px 25px 25px #a6a6a6; */
	margin: auto;
	width: 40%;
	padding: 10px;
	background-color: white;
}
.registerroot {
	display: flex;
	flex-direction: column;
	/* -webkit-box-shadow: 25px 25px 25px 25px #a6a6a6; */
	/* box-shadow: 25px 25px 25px 25px #a6a6a6; */
	/* -webkit-border-radius: 15px 15px 15px 15px; */
	/* border-radius: 15px 15px 15px 15px; */
}
